:root {
  --primary: #82A796;
  --secondary: #DEE170;
  --info: #3BDFFB;
  --main-text:#393945;
  --secondary-text: #D6D6D8;
  --danger: #F26674;
}
body {
  margin: 120px 0 0 0;
  font-family: 'Poiret One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.text {
  font-weight: 16px;
  font-weight: 300;
}
.content {
  display: flex;
}
.container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
section {
  margin: 30px 25px;
}
@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
  }
}