:root {
  --primary: #82A796;
  --secondary: #DEE170;
  --info: #3BDFFB;
  --main-text:#393945;
  --secondary-text: #D6D6D8;
  --danger: #F26674;
}
body {
  margin: 0;
  font-family: neuzeit-grotesk, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-size: 24px;
  font-weight: 400;
}
.text {
  font-weight: 16px;
  font-weight: 300;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  /* display: flex; */
}
@media (min-width: 992px){
  .container{
      max-width: 960px;
  }
}
@media (min-width: 768px){
  .container{
      max-width: 720px;
  }
}

@media (min-width: 576px){
  .container, .container-sm {
      max-width: 540px;
  }
}
@media (min-width: 992px){
  .container {
      max-width: 960px;
  }
}
@media (min-width: 768px){
  .container {
      max-width: 720px;
  }
}
@media (min-width: 576px){
  .container {
      max-width: 540px;
  }
}