
textarea {
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
    font-weight: bold;
    border: none;
    overflow: auto;
    outline: none;
    border-bottom: 1px solid #393A44;
  }