.button-general {
    background-color: #393A44;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  width: fit-content;
}