.footer-root {
  display: flex;
  flex-direction: column;
  background-color: #dddf70;
  padding: 25px;
  width: 100%;
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.footer-col img {
  height: 50px;
}
.social-icons {
  display: flex;
  justify-content: space-evenly;
}
.cp {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%); */
  /* width: inherit; */
  font-size: 10.75px;
  line-height: 14px;
  padding-top: 25px;
}